@import "color.scss";

#top_menu {
  /*background: $color1;*/
  background: url("/images/bg.png") repeat;
  position: fixed;
  border-bottom: 8px solid $color3;
  /* animation transition*/
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  height: 80%;
  left: 0; /*150px;*/
  z-index: 60;
  /*overflow: scroll;*/
  overflow-x: hidden;
  margin-top : 3em;
  padding : 20px;
}

.cbp-spmenu-top {
  top: -78%; /*-150px;*/
}

.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

.tab {
  cursor: pointer;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  background-color: #007299;
  color:#F8F8F8;
  height: 60px;

  line-height: 37px;
  font-size : 1.5em;
  text-align: center;
  padding : 10px;
  z-index: 100;

  background: -moz-linear-gradient(top, #267c99 50%, #007299 50%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #267c99 50%,#007299 50%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #267c99 50%,#007299 50%); /* IE10+ */
  background: linear-gradient(to bottom, #267c99 50%,#007299 50%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
.tab:hover {
  background-color : darken( $color2, 10% );
}
.first-tab {
  border-left: 1px solid #CCC;
}

/*
@media screen and (max-width: 55.1875em) {

  #top_menu {
    font-size: 75%;
    height: 110px;
  }

  .cbp-spmenu-top {
    top: -110px;
  }
}*/
