<!--<div class="modal" ng-class="{'show': !logged, hide: logged }" data-keyboard="false" data-backdrop="static"    role="dialog" >
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <form  name="formLogin" novalidate>
                <label for="loginPseudo" >
                  Pseudo
                </label>
                <br>
                <input type="text" id="loginPseudo" name="pseudo" ng-model="login.pseudo" required />

                <br>
                <label for="loginPassword">
                  Mot de passe
                </label>
                <br>
                <input type="password" id="loginPassword" name="password" ng-model="login.password" required />

                <br>
                <br>
                <span class="btn glyphicon glyphicon-send btn-info  btn-lg" ng-click="checkLogin();"></span>Signin
                <span class="btn glyphicon glyphicon-plus-sign btn-info btn-lg" ng-click="created=false"></span>Signup

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">

      </div>
    </div>
-->
<div class="container" style="margin-top:30px;">
  <div class="row">

    <div id="formulaire" class="login">

      <h2><i class="fa fa-user"></i> Se connecter </h2>

      <br/>
      <p>Veuillez renseigner votre nom et mot de passe pour accéder à l'application</p>
      <br/>

      <form role="form">

        <div class="form-group">
          <label for="inputNickname">Prenom</label>
          <input type="text" class="form-control" ng-model="login.pseudo" placeholder="prenom" id="inputNickname"/>
        </div>

        <div class="form-group">
          <label for="inputPassword">password</label>
          <input type="password" class="form-control" ng-model="login.password" placeholder="Mot de passe" id="inputPassword">
        </div>

        <button type="submit" class="btn btn btn-primary" ng-click="checkLogin();">connecter</button>
      </form>

    </div>

  </div>
</div>

<!--</div>-->
