<div class="col-sm-6 col-md-6 col-lg-6 old-fieldset no-border">
  <p class="legend text-center">Tweet public :</p>

  <div class="question-container">
    <section ng-repeat="tweet in tweets">

      <div class="question">

        <div class="pull-left block-pseudo">
          <span class="fa fa-user"></span> <strong>{{tweet.user.name}}</strong>
          <!-- TODO le nom du user  -->
        </div>

        <div class="question-header fa fa-clock-o pull-right animate-show">
          {{tweet.created_at}}

        </div>

        <div class="clearfix"></div>

        <div e-rows="4" e-cols="50">
          {{tweet.text}}
        </div>


        <div class="bottom-question">
          <div class="btn-group pull-right">
            <button class="btn btn-default pull-right question-icon"
                    ng-click="sendToScreen($index)"><i class="fa fa-paper-plane"></i></button>
            <button class="btn btn-default pull-right question-icon"
                    ng-click="removeTweet($index)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>


    </section>

  </div>
</div>

