<div class="container-fluid height100">
    <div class="row top-panel">
        <div class="col-xs-12 height100">
            <div class="row height100">
                <div class="div-to-align-middle height100"></div>
                <div class="v-align-middle">
                    <span class="note-title">Note de l'assistant :</span>
                    <span class="note-text">{{ note }}</span>
                </div>
                <div class="pull-right height100">
                    <div class="div-to-align-middle height100"></div>
                    <span class="timer-text v-align-middle"><timer interval="1000" max-time-unit="'minute'">{{mminutes}}:{{sseconds}}</timer></span>
                    <div class="blank-timer v-align-middle">
                        <i class="fa fa-play fa-3x" ng-click="startTimer()" ng-if="!timerRunning"><!-- play --></i>
                        <i class="fa fa-pause fa-3x" ng-click="stopTimer()" ng-if="timerRunning"><!-- pause --></i>
                    </div>
                    <div class="blank-timer v-align-middle">
                        <i class="fa fa-repeat fa-3x fa-flip-horizontal" ng-click="resetTimer()"><!-- reset --></i>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-10">
                </div>
                <div class="col-xs-2 text-center">
                </div>
            </div> -->
        </div>
    </div>
    <div class="row mid-panel">
        <div class="col-xs-1 height100">
            <div class="row height100 endquestions-btn-row">
                <div class="btn btn-default endquestions-btn" ng-click="toggleEndQuestionMode()">
                    <div class="div-to-align-middle height100"></div>
                    <div class="endquestions-btn-text" ng-if="!endQuestionMode">Liste des Questions</div>
                    <div class="endquestions-btn-text" ng-if="endQuestionMode">Retour</div>
                </div>
            </div>
        </div>
        <div class="col-xs-11 height100" ng-if="question.isDisplayed && !endQuestionMode">
            <div class="row question-title-panel">
                <span class="question-title">Question : {{ question.name }} {{ question.slide }}</span>
            </div>
            <div class="row question-content-panel">
                <div class="col-xs-10 height100">
                    <div class="row height100 no-wrap">
                        <div class="div-to-align-middle height100"></div>
                        <div class="question-text">{{ question.content }}</div>
                    </div>
                </div>
                <div class="col-xs-2 btns-question height100 text-center">
                    <div class="row">
                        <div class="col-xs-12 height100" ng-click="sendQuestionToScreen()">
                            <div class="div-to-align-middle height100"></div>
                            <div class="v-align-middle"><i class="fa fa-paper-plane fa-4x"></i></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 height100" ng-click="sendQuestionToAssistant()">
                            <div class="div-to-align-middle height100"></div>
                            <div class="v-align-middle"><i class="fa fa-times fa-4x"></i></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- <uib-progressbar ng-if="progressBarDisplay" class="questionNaveBar" animate="false" max="progressBarMax" value="progressBarVal"></uib-progressbar> -->
        </div>
        <div class="col-xs-11 height100" ng-if="!question.isDisplayed && !endQuestionMode">
            <div class="row height100 no-wrap">
                <div class="div-to-align-middle height100"></div>
                <div class="no-question">Pas de question pour le moment</div>
            </div>
        </div>
        <div class="col-xs-11 height100" ng-if="endQuestionMode">
            <div class="row height100">
                <div class="end-questions-panel height100">
                    <div class="end-question" ng-repeat="(id, q) in endQuestions">
                        <div class="end-question-container">
                            <div class="end-question-title">
                                Posée par <strong> {{ q.prenom }} {{ q.nom }} </strong>
                                <span ng-if="q.numSlide"> - slide n°<strong>{{ q.numSlide }}</strong> </span>
                                <span ng-if="!q.numSlide"> - pas de slide associé </span>
                                <!-- <span> {{ q.createdAt }} </span> em -->
                                <i class="fa fa-star"></i> {{ q.upVote }}
                            </div>
                            <div class="end-question-content">{{ q.content }}</div>

                            <div class="end-question-btn" ng-click="sendEndQuestionToScreen(q)">
                                <i class="fa fa-paper-plane fa-4x"></i>
                            </div>
                        </div>
                    </div>
                    <div class="height100 no-wrap" ng-if="!endQuestionCpt">
                        <div class="div-to-align-middle height100"></div>
                        <div class="no-question">Pas de question pour le moment</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row bot-panel">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    Sondage :
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    ici les sondages
                </div>
            </div>
        </div>
    </div> -->
</div>
