$gray-light: #F8F8F8;
$gray-darker-border: #DDD;
/* $gray-darker-text: #888; */
$gray-darker-text: #444;
$gray-dark-text: #222;

$blue-text: #47a4ed;

$red-light: #FFDBD6;
$red-darker: #F57362;

$green-light: #DCF7D7;
$green-darker: #9CDE90;
