@import "chartColor.scss";


body {
  overflow: hidden;
}


.top-panel {
  height: 20%;

  /* background-color: #dddddd; */
  background-color: $green-darker;

  color: $gray-dark-text;

  padding-right: 1%;
  padding-left: 1%;
}

.mid-panel {
  height: 80%;

  background-color: $gray-light;
  border-top: 1px solid $gray-darker-border;
  border-bottom: 1px solid $gray-darker-border;

  color: #222;

}
/*
.bot-panel {
  height: 40%;

  background-color: #dddddd;

  padding: 20px;

}
*/

.note-title {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
}

.note-text {
  font-size: 2.5em;
}

.blank-timer {
  display: inline-block;
  padding-left: 20px;
}
.timer-text {
  font-size: 3.2em;
}


.endquestions-btn-row {
  padding: 3%;
}

.endquestions-btn {
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.endquestions-btn .endquestions-btn-text {
  font-size: 2em;
  text-align: center;
  display: inline-block;
  margin: 0 -1000% 0 -1000%;
  transform: rotate(270deg);
}

.question-title-panel {
  height: 20%;
  padding-top: 1%;
  padding-right: 1%;
  padding-left: 1%;
}
.question-content-panel {
  height: 80%;
  padding-right: 1%;
  padding-left: 1%;
}

.question-title {
  font-size: 1.5em;
}

.question-text {
  font-size: 2.5em;
  white-space: normal;
  display: inline-block;
}

.btns-question > .row {
  height: 50%;
}
.btns-question button {
  width: 100%;

}

.no-question {
  font-size: 3.0em;
  opacity: 0.5;
  vertical-align: middle;
  display: inline-block;
  color: $gray-darker-text;
  white-space: normal;
}

.end-questions-panel {
  overflow-y: auto;
}


.end-question {
  padding-left: 2%;
  padding-right: 2%;
}

.end-question-container {
  position: relative;

/*   background-color: $gray-light; */
  background-color: white;
  border: 1px solid $gray-darker-border;
  border-radius: 5px;
  margin-top: 20px;
  padding: 2%;

  /* ombrage */
  box-shadow:2px 2px 2px $gray-shadow;
  -moz-box-shadow:2px 2px 2px $gray-shadow;
  -webkit-box-shadow:2px 2px 2px $gray-shadow;

  /* empêcher d'avoir un tres long mot */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.end-question-title {
  font-size: 1em;
}

.end-question-content {
  font-size: 1.5em;
  padding-right: 70px;
}

.end-question-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-right: 2%;
  padding-bottom: 2%;
}





.div-to-align-middle {
  height: 100%;
  width: 0px;
  vertical-align: middle;
  display: inline-block;
}


.v-align-middle {
  vertical-align: middle;
  display: inline-block;
}

.no-wrap {
  white-space: nowrap;
}


.questionNaveBar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

