<!--INFORMATION SUR L'ETAT DU TRI-->
<!--<div class="alert alert-info">-->
  <!--<p>Sort Type: {{ sortType }}</p>-->
  <!--<p>Sort Reverse: {{ sortReverse }}</p>-->
<!--</div>-->

<!--TODO partial-->
<div style="border:1px solid #bababa;background-color:#FFF;border-radius:5px;padding:5px;margin-bottom:10px;" class="text-center">
  <span style="color:green">Vert</span> : question personnelle, <span style="color:#baa92f">Jaune</span> : question ayant une réponse, <span style="color:red">Rouge</span> : question refusée.
</div>

<div class="filter row">

    <!--par date-->
    <div class="col-sm-6 first-div-filter">
      <div class="row">
        <div class="col-xs-4 first-col">
          <a href="/#/" ng-click="sortType = 'created_at'; sortReverse = !sortReverse">
            <button class="btn btn-lg btn-default btn-block" type="button" ng-class='{"active":tog==1}' ng-click='tog=1'>
              <i class="fa fa-clock-o" title="By date"></i> <span class="btn-font-size">Date</span>
              <span ng-show="sortType == 'created_at' && !sortReverse" class="fa fa-caret-up"></span>
              <span ng-show="sortType == 'created_at' && sortReverse" class="fa fa-caret-down"></span>
            </button>
          </a>
        </div>

        <!--par slide-->
        <!--<div class="col-xs-2 other-col">-->
          <!--<a href="/#/" ng-click="sortType = 'num_slide'; sortReverse = !sortReverse">-->
            <!--<button class="btn btn-lg btn-default btn-block" type="button" ng-class='{"active":tog==2}' ng-click='tog=2'>-->
              <!--<i class="fa fa-thumb-tack" title="By slide"></i> <span style="font-size:12px">Par slide</span>-->
              <!--<span ng-show="sortType == 'num_slide' && !sortReverse" class="fa fa-caret-down"></span>-->
              <!--<span ng-show="sortType == 'num_slide' && sortReverse" class="fa fa-caret-up"></span>-->
            <!--</button>-->
          <!--</a>-->
        <!--</div>-->

        <!--par vote-->
        <div class="col-xs-4 other-col">
          <a href="/#/" ng-click="sortType = 'question.up_vote'; sortReverse = !sortReverse">
            <button class="btn btn-lg btn-default btn-block" type="button" ng-class='{"active":tog==3}' ng-click='tog=3'>
              <i class="fa fa-star" title="By vote"></i> <span class="btn-font-size">Par vote</span>
              <span ng-show="sortType == 'up_vote' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'up_vote' && sortReverse" class="fa fa-caret-up"></span>
            </button>
          </a>
        </div>

        <!--question ayant reponse-->
        <div class="col-xs-4 other-col">
          <a href="/#/" ng-click="sortType = 'responsecontent'; sortReverse = !sortReverse">
            <button class="btn btn-lg btn-default btn-block" type="button" ng-class='{"active":tog==4}' ng-click='tog=4'>
              <i class="fa fa-arrow-up" title="By anwser"></i> <span class="btn-font-size">Réponse</span>
              <span ng-show="sortType == 'responsecontent' && !sortReverse" class="fa fa-caret-down"></span>
              <span ng-show="sortType == 'responsecontent' && sortReverse" class="fa fa-caret-up"></span>
            </button>
          </a>
        </div>
      </div>
    </div>

    <!--FORMULAIRE POUR TRIER PAR CONTENT-->
    <div class="col-sm-6 form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control input-lg" placeholder="Par contenu" ng-model="searchByContent">
      </div>
    </div>

</div>

