<!--TODO afficher uniquement les questions de l'utilisateurs + celle qui ont été validée (checker status code) -->


<h3 ng-if="questionResponseArr.length == 0">Aucune question pour le moment...</h3>


<!--LES QUESTIONS REPONSES-->
<div class="allQuestionsWrapper" ng-controller="VotesCtrl">

  <!-- ng-repeat -->
  <!--<div ng-repeat="(key, qr) in questionResponseObj track by $index">-->
  <div ng-repeat="(key, qr) in questionResponseArr | orderBy:sortType:sortReverse | filter:searchByContent track by $index">

    <!-- questionWrapper -->
    <div class="questionWrapper col-xs-12" ng-class="{'answered': qr.responsecontent != null,
                                                      'deleted': qr.status_code == 10,
                                                      'ownquestion': qr.public_id == user.id && qr.status_code != 10,
                                                      'first-block':$first}">  <!--'validated': qr.status_code == 5,-->

      <div class="top-question">
        <p class="question-info">
          <i class="fa fa-user"></i> <strong>{{qr.prenom}} {{qr.nom}}</strong>    <!--{{usersList[qr.public_id - 1].prenom}} {{usersList[qr.public_id - 1].nom}}-->
          <span class="pull-right hour-block">
            <i style="color:#3B7DAC" class="fa fa-clock-o"></i>
            <span class="question-hour" am-time-ago="qr.created_at | amFromUnix"></span>
          </span>
        </p>
        <p class="question-content">{{qr.content}}</p>
      </div>

      <hr>

      <!--questions mergees-->
      <div ng-repeat="merge in qr.merge" ng-if="qr.merge.length != 0" class="col-xs-12">
        <div style="border:1px solid #bdbdbd;background-color: #e8e4dc;padding:5px;margin-bottom:5px;border-radius: 5px;">
          <i class="fa fa-user"></i> <strong>{{merge.nom}} {{merge.prenom}}</strong>
          <span class="pull-right hour-block">
            <i style="color:#3B7DAC" class="fa fa-clock-o"></i>
            <span class="question-hour" am-time-ago="qr.created_at | amFromUnix"></span>
          </span> <br/>
          {{merge.content}}
        </div>
      </div>
      <div class="clearfix"></div>

      <!--<div ng-hide="qr.merge.length == 0">-->
        <!--<hr ng-if="qr.public_id == user.id" style="margin-top:10px;">-->
      <!--</div>-->

      <!-- les actions -->
      <div class="btn-actions">

        <!--response-->
        <div class="col-xs-4 text-left">
          <!-- gestion affiche si ya une reponse btn-up btn-down -->
          <div ng-hide="qr.responsecontent == null">
            <button class="btn btn-default" title="Show the answer" ng-class="{'btn-fold': qr.responsecontent != null}" ng-click="show = !show">
              <div ng-if="qr.responsecontent != null && show == false"><i class="fa fa-arrow-down"></i></div>
              <div ng-if="show == true && qr.responsecontent != null"><i class="fa fa-arrow-up"></i></div>
            </button>
          </div>
        </div>

        <!--slide -->
        <div class="col-xs-4 text-center">
          <div class="nb-slide" ng-hide="qr.num_slide == null">
            <i class="fa fa-thumb-tack" title="slide"></i> Slide {{qr.num_slide}}
          </div>
        </div>

        <!--vote-->
        <div class="col-xs-4 text-right">
          <button class="btn btn-default" ng-class="{'btn-upvote': qr.up_vote > 0}"
                  ng-click="updateVote(qr)">
            <i class="fa fa-star"></i>
            <span ng-if="qr.status_code != 15">{{qr.up_vote}}</span>
            <!--<span ng-if="qr.status_code == 15">{{questionResponseArray[qr.question_id].up_vote}}</span>-->
          </button>
        </div>
      </div>

      <!-- la reponse -->
      <div ng-if="qr.responsecontent != null" ng-show="show" class="questionAnswer text-left animate-show">
        <u><strong>Answer</strong></u> : {{qr.responsecontent}}
      </div>

    </div>
  </div>
</div>
