<!--BARRE INFO-->
<ng-info changetitle="Redact"></ng-info>


<div class="container">
  <div id="formulaire">
      <h2>Avez-vous une question ? N'hésitez pas!</h2><br/>

      <div class="form-group clearfix" ng-form="questionForm">

          <!--TODO message erreur si pas assez de caractere-->

          <!--contenu de la question-->
          <label for="content">Votre question :</label> <em>{{200 - textcontent.length}} caractères restants.</em>
          <textarea class="form-control" rows="5" id="content" ng-model="textcontent" minlength="15" maxlength="200" ng-trim="false" required></textarea><br/>

          <!--numero de slide -->
          <label for="numSlide">Numero de slide :</label> <em>optionnel</em>
          <input type="number" min="1" max="150" class="form-control" id="numSlide" ng-model="numslide"><br/><br/>

          <!--envoi-->
          <button class="btn btn-primary btn-lg btn-block"
                  pattern="[0-9]*"
                  ng-disabled="questionForm.$invalid || !questionForm.$valid || numslide < 1 || numslide > 150"
                  ng-click="sendQuestionToMod()">
              Envoyer
          </button>

      </div>
  </div>
</div>
